mixin videoContext(context)    
    div   
        h4
            a(href=`/videos/${context.id}`)=context.title
        li #{context.title}
        li #{context.description}        
        li #{context.hashtags.join(", ")}
        li Posted #{context.createdAt}
        li #{context.meta.views} views.