mixin videoContext(context)
    div         
        li #{context.title}
        li #{context.description}
        li #{context.hashtags.join(" ")}
        li Posted #{context.createdAt}
        li #{context.meta.views} views.