doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title #{pageTitle} | #{siteName}
    body                
        header             
            h1=pageTitle            
            img(src=`/users/store/${loggedInUser.avatarFile}` width="200", height="200", alt="please, set the avatar.")
            nav 
                ul  
                    li 
                        a(href="/") Home   
                    
                    if !loggedIn                                         
                        li 
                            a(href="/login") Login
                        li 
                            a(href="/join") Join
                    else                        
                        li 
                            a(href="/users/edit")  Edit User
                        li 
                            a(href="/logout") Logout                        
                        li 
                            a(href=`/users/profile/${loggedInUser._id}`) #{loggedInUser.name} User Profile
                        li 
                            a(href="/videos/upload") Upload video                    
                    li 
                        a(href="/search") Search video
        main 
            block content
        include partials/footer.pug
