extends base.pug
include mixins/video

block content    
    div 
        video(src=`/videos/store/${video.file}`, controls) 
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br 
    a(href=`${video.id}/delete`) Delete Video &rarr;
    +videoContext(video)
            